<!DOCTYPE html>
<html>
    <head>
        <title>Flux API</title>

        <!-- Viewport mobile tag for sensible mobile support -->
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<!-- Monitoring test content
monit=<%= sails.config.git.repoSlug  %>#<%= sails.config.git.branch  %>#<%= sails.config.git.commit %>
repo=<%= sails.config.git.repoSlug  %>
branch=<%= sails.config.git.branch  %>
commit=<%= sails.config.git.commit %>
-->

    </head>

    <body>
        <%- body %>
    </body>
</html>
